*.tfstate
*.tfstate.*
.terraform
*/terraform.tfvars
*/.terraform.lock.hcl
*/.terraform/**
.terraform\**
.terraform.lock.hcl
.terraform/providers/**
*/*.tfstate.*
*/*.tfstate
*/mykey
*/mykey.pub
*/*.plan
*/terraform.tfvars
*/*.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/manual-ec2-keypair
*/manual-ec2-keypair.pub


*/mykey*
*/my-access-key
*/my-access-key.pub
*/crash.log
